
a{
    text-decoration: none;
    color: #000000;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
}

.btn{
    text-transform: capitalize;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 13px 53px;
    font-weight: 700;
    font-size: 18px;
}

.cursor-button:hover{
    transition: .3s;
    cursor: pointer;
}

/*  HEADER  */

header{
    padding-top: 30px;
    background-color: #f6f2f2;
}

header nav{
    background-color: #313030;
}

header nav ul{
    display: flex;
    justify-content: center;
}

header a{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 25px 30px;
    display: inline-block;
}

header a:hover,
header .active a{
    background-color: #ff3f40;
    transition: .3s;
}

/*  ABOUT  */

.about{
    padding: 110px 0;
    background-color: #f6f2f2;
}

.about .row{
    gap: 110px;
    align-items: center;
}

.about .col{
    width: 50%;
}

.about .about__title{
    font-weight: 800;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.about .about__description{
     max-width: 515px;
    margin-bottom: 60px;
}

.about .about_contact {
    background-color: #ff2d2d;
    color: white;
}

.about .about_contact:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}

.about .about__video__wrapper iframe{
    width: 100%;
    border: none;
    box-shadow: 0 0 65px 1px black;
}

/*  SERVICE   */

.service{
    margin: 110px 0 110px 0;
}

.service__info{
    width: 50%;
}

.service__info h2{
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
}

.service__info p{
    max-width: 515px;
    margin-bottom: 60px;
}

.service__contact{
    background-color: #ffffff;
    color: #ff2d2d;
}

.service__contact:hover {
    background-color: #ff2d2d;
    color: #ffffff;
    transition: .3s;
}

.service__elements{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.service__item{
    width: 50%;
    padding-bottom: 40px;
}

.left{
    padding-right:  50px;
}

.service__item h3{
    font-size: 24px;
    font-weight: 600;
}

.grey__line{
    border-bottom: 3px solid #ececec;
}

/*  GALLERY  */

.gallery{
    margin-top: 105px;
    padding-bottom: 70px;
}

.gallery__title{
    text-align: center;
    padding-bottom: 90px;
}

.gallery__text h2{
    padding-bottom: 40px;
    font-size: 42px;
    font-weight: 700;
}

.gallery__text p{
    padding-bottom: 30px;

}
.gallery__line{
    border-bottom: 3px solid #ff2d2d;
    max-width: 130px;
    margin: 0 auto;
}
.photo__switch{
    padding-bottom: 60px;
}
.photo__switch ul{
    display: flex;
    justify-content: center;
}
.photo__switch ul li{
    padding-right: 50px;
}
.photo__switch ul li:last-of-type{
    padding-right: 0;
}
.photo__switch ul li .all{
    color: #ff6565;
}
.photo__switch ul li a{
    font-size: 22px;
    font-weight: 600;
}
.photo__switch ul li a:hover{
    color: #ff6565;
    transition: .3s;
}

.gallery__box{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    width: calc(25% - 12px);
    height: 290px;
    background-color: #f5f0dd;
   }


/*  TEAM  */

.team{
    padding: 65px 0 55px 0;
}

.team__title{
}
.team__title h2{
    padding-bottom: 45px;
    font-size: 42px;
    font-weight: 700;
}
.team__title p{
    max-width: 450px;
    padding-bottom: 30px;
}
.team__line{
    border-bottom: 3px solid #ff2d2d;
    max-width: 130px;
    margin-bottom: 75px;
}

.team__rectangle__parent{
    width: 50%;
}

.team__rectangle__child{
    background-color: #f5f0dd;
    height: 460px;
    width: 80%;
}

.name__surname h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 26px;
}
.name__surname p{
    padding-bottom: 30px;
    width: 70%;
}

.mark__contact{
    padding-bottom: 70px;
}
.mark__contact ul{
    display: flex;
}
.mark__contact ul li{
    padding-right: 40px;
}
.mark__contact ul li:last-child{
    padding-right: 0;
}
.mark__contact ul a{
    font-size: 18px;
    font-weight: 400;
}
.mark__contact ul a:hover{
    color: #ff6565;
    transition: .10s;
}

.team__four__box{
    display: flex;
    gap: 21px;
}
.team__box{
    background-color: #f5f0dd;
    height: 215px;
    width: calc(25% - 21px)
}

.team__box p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #f5f0dd;
    padding: 5px 0;
}
.active-box p{
    background-color: #7a786e;
    color: white;
}
.team__box-mini{
    padding-top: 176px;
}
.team__box:hover p {
    transition: .5s;
    background-color: #7a786e;
    color: white;
}

/*  DELIVERY  */

.delivery{
    margin: 55px 0;
    background-color: #f5f0dd;
}
.delivery__contant{
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery__text{
    color: #fdfcf8;
    text-align: center;

}
.delivery__text h2 {
    padding: 140px 0 40px 0;
    font-size: 42px;
    font-weight: 700;
}

.delivery__forma{
    padding-top: 65px;
}

.delivery__forma-placeholder input{
    text-transform: capitalize;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 16px;
    height: 80px;
    margin-right: 20px;
    width: 520px;
}
.delivery__forma-submit input{
    text-transform: capitalize;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 24px 53px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ff2d2d;
    color: #ffffff;
}
.delivery__forma-submit input:hover{
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}

/*  GIT  */
.git{
    overflow-x: hidden;
    padding-top: 55px;
}
.git__title{
    width: 50%;
}
.git__title h2{
    padding-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
}
.git__title p{
    padding-bottom: 60px;
}
.git__line{
    border-bottom: 3px solid #ff2d2d;
    max-width: 130px;
    margin-bottom: 75px;
}
.git .git__form{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.git .git__form:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    position: absolute;
    left: 100%;
}
.git__form form{
    width: 55%;
}
.git__form-info{
    gap: 50px;
    margin-bottom: 40px;
}
.git__form-info label{
    width: calc(50% - 25px);
}
.git__form-info input{
    background-color: #d5d5d5;
    font-size: 18px;
    border-radius: 10px;
    border: #d5d5d5;
    width: 100%;
    padding: 25px 0 25px 45px;
}

.git__form-message textarea{
    background-color: #d5d5d5;
    padding: 35px 0 0 50px;
    border-radius: 10px;
    border: #d5d5d5 ;
    font-size: 18px;
    resize: none;
    height: 250px;
    width: 100%;
}

.git__form-submit input{
    color: #ffffff;
    border:solid 3px red;
    background-color: #ff2d2d;
    border-radius: 10px;
    width: 100%;
    padding: 25px 0;
    margin-top: 30px;
}
.git__form-submit input:hover{
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}
.git__address{
    background-color: #2d2d2d;
    color: #d5d5d5;
    line-height: 2.5;
    width: 35%;
    padding: 140px 0 0 80px;
}
.git__address h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 40px;
}
.git__address ul li a{
    color: #d5d5d5;
}
.git__address ul li a:hover{
    transition: .5s;
    color: white;
    font-size: 20px;
}

/*  FOOTER  */

.footer{
    margin-top: 110px;
    height: 110px;
    background-color: #313030;
    color: white;
}
.footer__blok{
    display: flex;
    justify-content: space-between;
}
.footer__copyright{
    padding-top: 40px;
}
.footer__social-media{
    padding-top: 40px;
}
.footer__social-media li{
    padding-right: 15px;
}
.footer__social-media li:last-of-type{
    padding-right: 0;
}
.footer__social-media li a img:hover{
    transition: .8s;
    height: 30px;
    width: 30px
}



/* ----- ADAPTIVE ----- */

@media (max-width: 576px) {
    .btn{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

/*  ADAPTIVE  HEADER   */

@media(max-width: 767px) {
    .container {
        max-width: 576px;
    }
    header nav ul {
        display: initial;
        text-align: center;
    }
}


/*  ADAPTIVE  ABOUT  */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
    .about .about__title {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }
    .about .row{
        display: initial;
    }
    .about .col{
        width: 100%;
    }
    .about .about__info{
        padding-bottom: 100px;
    }
}
@media (max-width: 576px){
    .about .about__title {
        font-size: 30px;
    }
}

/*  ADAPTIVE  SERVICE   */

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .service__info h2{
        font-size: 30px;
    }
    .service__info p{
        max-width: 400px;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 767px;
    }
    .service .row{
        display: initial;
    }
    .service__info,
    .service__elements {
        width: 100%;
    }
    .service__info{
        margin-bottom: 100px;
    }
    .service__info h2{
        font-size: 42px;
    }
    .service__info p{
        max-width: initial;
    }
}
@media(max-width: 576px) {

    .service__elements{
        display: initial;
    }
    .service__item{
        width: 100%;
    }
}


/*  ADAPTIVE  GALLERY   */

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .photo__switch ul li{
        padding-right: 20px;
    }
    .gallery__text h2{
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }
    .box{
        width: calc(33.33% - 10px);
    }
}
@media(max-width: 767px) {
    .container {
        max-width: 576px;
    }
    .photo__switch ul li{
        padding-right: 10px;
    }
    .photo__switch ul li a{
        font-size: 16px;
    }
    .box{
        width: calc(50% - 12px);
    }
}
@media(max-width: 576px) {
    .photo__switch ul{
        display: initial;
        text-align: center;
    }
    .photo__switch ul li{
        padding-top: 20px;
    }

}


/*  ADAPTIVE  TEEM   */

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .team__rectangle__child{
        height: 485px;
    }
    .team__title h2 {
        font-size: 30px;
    }
    .name__surname h3 {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }
    .team .row{
        display: initial;
    }
    .team__rectangle__parent{
        margin-bottom: 40px;
    }
}
@media(max-width: 767px) {
    .container {
        max-width: 576px;
    }
    .team__rectangle__parent{
        width: 75%;
    }
    .team__rectangle__child{
        width: 75%;
    }
    .name__surname p {
        width: 100%;
    }
    .team__four__box{
        gap: 15px;
    }
    .team__box{
        width: calc(50% - 15px);
    }
    .team__box p{
        font-size: 12px;
        padding: 10px 0;
    }
}
@media(max-width: 576px) {
    .team__rectangle__child{
        width: 100%;
    }
    .team__title p{
        width: initial;
    }
    .team__four__box{
        flex-wrap: wrap;
    }
    .team__box {
        width: calc(50% - 15px);
    }
    .mark__contact ul{
        display: initial;
    }
    .mark__contact ul li{
        padding-bottom: 10px;
    }
}


/*  ADAPTIVE  BELIVERY   */

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .delivery__text h2 {
        font-size: 30px;
    }
    .delivery__forma-placeholder input{
        height: 60px;
        width: 370px;
    }
    .delivery__forma-submit input {
        padding: 16px 30px;
        font-size: 16px;
    }
}
@media(max-width: 576px) {
    .delivery__forma .row{
        display: initial;
    }
    .delivery__text h2 {
        padding: 80px 0 30px 0;
    }
    .delivery__forma-placeholder input{
        height: 60px;
        width: 300px;
        margin-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .delivery__forma-submit input {
        padding: 16px 30px;
        font-size: 16px;
        width: 100%;
    }
}


/*  ADAPTIVE  GIT   */

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .git__title h2{
        font-size: 30px;
    }
}
@media(max-width: 767px) {
    .container {
        max-width: 576px;
    }
    .git .git__form{
        display: initial;
    }
    .git__title{
        width: initial;
    }
    .git__form form{
        width: initial;
    }
    .git__form-submit input{
        padding: 15px 0;
        margin-bottom: 20px;
    }
    .git__address{
        width: initial;
        padding: 20px 0 40px 60px;
    }
    .git .git__form:after{
        display: none;
        background-color: white;
    }
}
@media(max-width: 576px) {
    .git__form .row{
        display: initial;
    }
    .git__form-info input{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .git__form-message textarea{
        font-size: 16px;
    }
}


/*  ADAPTIVE  FOOTER   */

@media(max-width: 576px) {
    .footer__blok{
        align-items: center;
        flex-direction: column-reverse;
    }
    .footer__copyright,
    .footer__social-media {
        padding-top: 20px;
    }
    .footer__copyright{
        font-size: 12px;
    }
}




