.background{
    height: 690px;
    background-color: #f6f2f2;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
nav{
    text-align: center;
    height: 84px;
    background-color: #313030;
}
a{
    padding: 30px;
    color: white;
    display: inline-block;
}
.home{
    background-color: #ff3f40;
}
.clearfix{
    content: '';
    display: block;
    clear: both;
}
.contant{
    float: left;
    width: 50%;
    padding: 100px 0;

}
input {
    color: white;
    padding: 5px 30px;
    background-color: #ff2d2d;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 60px;
}
h1{
    font-size: 60px;
}